pre
    code
      margin: 0 !important

.blog-meta
  margin 1rem 0
  padding .1rem 1rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.margin-bottom-zero
  margin-bottom 0