pre
    code
      margin: 0 !important

ul
  list-style-type disc

img
  user-select none

p::selection, em::selection, a::selection, li::selection, h1::selection, h2::selection, h3::selection, h4::selection, .title::selection, code::selection, strong::selection, span::selection, time::selection
  color white
  background $accentColor

.gray-section
  margin 1rem 0
  padding 1rem 1rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.margin-bottom-zero
  margin-bottom 0
  
.nav-link.home-link
  text-transform lowercase !important